<div class="container text-center wrapper">
  <div class="row">
    <div class="col-xs-12 offset-md-3">
      <img class="seraphin" src="assets/lampion" alt="">
    </div>
    <div class="col-xs-12 offset-md-3">
      <h1 class= "blink message"><%= @message %> <br>... good thing it always grows back!</h1>
    </div>
  </div>
</div>
