// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@keyframes blinker {
  50% { opacity: 0; }
}

.blink {
  animation: blinker 1s linear infinite;
}

.seraphin {
  width: 300px;
}

.wrapper {
  margin-top: 15vh;
}

@font-face {
  font-family: "hipster";
  src: url(assets/fonts/airbag.ttf), format('truetype');
       // url(assets/fonts/airbag.otf), format('truetype');
}

.message {
  font-family: "hipster";
}
